<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p class="feed-subscribe">
          <a href="https://feedrabbit.com/signup?return_url=%2Fsubscriptions%2Fnew%3Furl%3Dhttps%253A%252F%252Fwww.solverism.com%252Ffeed.xml" rel="nofollow" target="_blank">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      </div>

      <div class="footer-col footer-col-1">
        <p>&copy; Brandon Lee |
            <a href="https://github.com/{{site.github_username}}" class="github" rel="nofollow" target="_blank">
              <i class="fa fa-github"></i>
            </a>
        </p>
    </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <!-- <div class="social-links">
      {%- include social.html -%}
    </div> -->

  </div>

</footer>