/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";

/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

/* include Google Web fonts: */
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway|Quicksand|Arvo|ChunkFive|Chivo');

// make non-headings slightly smaller
.post-content p, .post-content li {
  font-size: 14px;
  color: #515151;
}

// make non-headings slightly smaller
h1, h2, h3, h4 {
  font-weight: normal !important;
  margin-bottom:0.5rem !important;  
  code {
    font-size: 80%;
  }
}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
// @import "minima/fastpages-dracula-highlight";

/* customize font size for code areas */
.input_area pre, .input_area div, .output_area pre, .output_area div {
  font-size: 1rem;
}